<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wan91.simo.lib">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- aid asus permisstion-->
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />

    <application>
        <activity
            android:name="com.wan91.simo.lib.user.UserPopActivity"
            android:theme="@android:style/Theme.Translucent"/>
    </application>
</manifest>